<!-- Template Widgets -->
<div class="template-header-wrap">

    <!-- Ecom Basket -->
    {% if plugins.ecommerce.store.live %}
        <div class="header-basket">
            {{widget('ecombasket', 'shopbasket', {})|raw}}
        </div>
    {% endif %}
    
    <div class='template-header flex-container'>

        <div class="flex-item1">
            <div class="brand">
                {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
                {{widget('companyname', 'companyname', {"business": "profile", "showTplWidget":"0"})|raw}}
            </div>
        </div>

        <div class="flex-item2">
            {{widget('extendednavigation', 'navigation', {"align":"center"})|raw}}
        </div>

        <div class="flex-item3">
            <!-- Ecom Basket -->
            {{widget('button', 'button', {text:'button', 'align':'widget-align-right'})|raw}}
        </div>

    </div>

</div>